<div class="row">
  <div class="dev row">
        <h2>Add a Vtex´s developer</h2>
        <div >
          
            <dev-disponivel class="col-md-2" login="{{user.login}}" ng-repeat="user in members"><p><img class="img-responsive center-block" src="{{user.avatar_url}}"></p><p><b>Valor/Hora R${{user.preco}}</b></p>
            
            <a ng-click="addtocart()" class="botao btn btn-primary" data-produtoId="{{user.id}}">Adicionar ao Carrinho</a>
           
            </dev-disponivel>
           

         
       </div>
  </div> 


<div class="cart row">
   <h2>Cart</h2>
        <table class="table">
          <thead>
            <tr>
              <th >Username</th>
               <th>Qty. Hours</th>
              <th >Price</th>
              
            </tr>
          </thead>
          <tbody>
            <tr ng-model="cartDisponivel" id="{{dev.id}}" ng-repeat="dev in carts">
              <td>
                <p>
                {{dev.login}}
                </p>
                <p data-toggle="collapse" data-target="#info">+info<p id="info" class="collapse">lalalal</p></p>
              </td>
              <td><input type="number" qtd="{{dev.qtd}}" min="1" max="99"></td>
              <td >${{dev.preco}}</td>
              <td><button class="btn btn-danger pull-right">Remove</button></td>
            </tr>
            
          </tbody>
        </table>
</div>
<div class="totalizer row">
        <div class="col-sm-8">
          <div class="row">
            <table class="table">
              <tbody>
                <tr ng-model="cupomDisponivel">
                  <td>Total</td>
                  <td class="tot">$ {{total}} </td>
                </tr>
                <tr>
                    <td>
                    <p><label>Adicionar cupom de desconto</label></p>
                    <cupom-Disponivel>
                      
                  
                    </cupom-Disponivel>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="row">
            
            <a href="developers/cart" class="botao btn btn-primary col-sm-6 right" >Finalizar compra</a>
          </div>
        </div>

    </div>
    </div>

</div>